* {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #009975;

}

/* COLORS */
/* primary: #009975 */
/* gray-scale: #4d4d4d */

/* accent: #ff7373 */


/* light: #BFFFFF */
/* light-gray: #dfdfdf */

body {
    box-sizing: border-box;
    margin: 0;
}

header {
    height: 6vmax;
    max-height: 60px;
}

.test-section {
    /* height: 30vh; */
    background: #BFFFFF;
    /* margin-top: 20vh; */
}

.test-section-two {
    height: 30vh;
    background: #ffa49f;
    margin-top: 20vh;
}

.burger-btn {
    height: 4vmax;
    max-height: 40px;
    margin: 1vmax 2vmax;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-btn span {
    display: block;
    width: 4vmax;
    max-width: 40px;
    height: .65vmax;
    max-height: 6px;
    background: #009975;
    border-radius: 2px;
}

.burger-btn .second-span {
    width: 3vmax;
}

nav {
    background: #ff7373;
    /* background: linear-gradient(135deg, #ff8c89, #ffa49f );
    box-shadow: inset 0 0 20px 8px #ff737360; */
    background: #ffffff;
    position: fixed;
    top: 6vmax;
    left: 0;
    width: 100%;
    height: calc(100% - 6vmax);
    transition: 1s;
}

.nav-hidden {
    left: 100%;
}

nav ul {
    width: 40vw;
    margin: 5vh auto;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    margin: 3vh auto;
    font-size: 4vmax;
    letter-spacing: .5vmax;
    text-indent: .5vmax;
    width: 100%;
}

nav ul li a {
    transition: .3s;
    text-decoration: none;
    color: inherit;
    color: #ffffff;
    color: #4d4d4d;
}

nav ul li a:hover {
    text-decoration: underline;
    /* color: #ff6060; */
}

h1 {
    font-size: 80px;
    z-index: 102;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 4vmax 2vmax;
}


.test-section p {
    padding: 5vmax 0;
    text-align: center;
    color: #009975;
    font-size: 3vmax;
}

.test-section-two p {
    padding: 5vmax;
    color: #4d4d4d;
    font-size: 3vmax;
}