* {
    /* primary */
    color: #ff9960;
}

h1 {
    font-size: 80px;
}

button {
    /* base color */
    background: #ffc19f;
    padding: 30px;
    /* accent color */
    border: 2px solid #ffae26;
    /* border: 2px solid #ff6060; */
}

button:hover {
    background: #ff9960;
}